name: plproject
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.3

dependencies:
  flutter:
    sdk: flutter
  firebase_core: ^4.2.1
  cupertino_icons: ^1.0.8
  cloud_firestore: ^6.1.0
  firebase_storage: ^13.0.4
  firebase_messaging: ^16.0.4
  firebase_auth: ^6.1.2
  google_sign_in: ^7.2.0
  http: ^1.2.1
  provider: ^6.1.2
  shared_preferences: ^2.2.3
  image_picker: ^1.1.2 # Added for picking images

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - images/
